@use '@/assets/styles/abstracts/variables/wrappers';

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  max-width: wrappers.$form-desktop;
  width: 100%;
  padding: 20px;
}
